
<!--<h1 id="heading" class="logo"><%= @title || "Torello" %></h1> -->

<% lists.each do |list| %>
<div class="list">
  <form class="update-all" action="lists/update" method="post">
    <input type="hidden" name="id" value="<%= list.id %>">
    <input type="hidden" name="name" value="<%= list.name %>">
    <div class="list-header-container">
      <div class="list-header"><%= list.name %></div>
      <div name="list-menu">
        <button class="save hidden" name="save_all">Save</button>
      </div>
    </div>
    <ul class="js-sortable-items">
      <% list.items.each_with_index do |item, index| %>
        <%= erb :"shared/_item.html", locals: {item: item} %>
      <% end %>
    </ul>
  </form>
  <form class="add-item" action="lists/<%= list.id %>/items/add" method="post">
    <input type="text" name="name" class="new-item" placeholder="Add an item..." required>
  </form>
 </div>
<% end %>

<!--  Add new List   -->

<div class="add-list list">
    <span class="toHide">Add List Name</span>
    <form class="newform hidden" action="/newlist/name" method="post">
    <!--Set new List name -->
    <input type="text" name="id">
    <input type="submit" value="Save" class="save">
    <a class="close">&times;</a>
    </form>
</div>






